label,input{
  font-family: "comic sans",sans-serif;

  margin : 0 0 15px;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
input,textarea {width:620px;}

.login{
width:100%;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 10px;
word-wrap: break-word;
}
.fonts{
  font-size: 18;
  font: Arial;
}
#labelSearch{
    margin: 0 93px 15px;
    }
#button{
  background-color: orange;
  color:white;
  display: block;
}
.parent {
overflow: hidden;
}

#card{
width: 400px;
margin: 0px 0px 0px 450px;
}
#forgot{
      margin: 98px 525px 0px 342px;
}
#search{
  width: 713px;
border-radius: 60px;
    margin-top: 35px;
    }
#searchIcon{
    margin: -30px 132px 6px -722px;

    }
#navabarcolor{
  color: rgba(68, 61, 61, 0.87);
}
#md-icon {
  style="color: black;"
    margin: 7px 4px 3px 6px;
}
span[contentEditable="true"] {
    outline: none;
}
#sidebar{
  margin :0px 0px 0px 30px;
}
.colornote{
  border-radius:20px;
  width:50px;
  height:50px;
}
.das{
  width:600px;
  margin: 25px -211px 0px 454px;
}
.navcard {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.navhide {
  height: 50;
  width: 50;
  background-color: transparent;
  top:-200px;
  left: 200px
}
.colorBox{
  width:30px;
  height:30px;
  margin: 10px 20px 10px 20px;
  border-radius:50px;
}
.intial-text{
  width: :100px;
  font-weight: bold;
}
.content{
  margin-top:40px;
}
div[contenteditable]:empty::before {
	content: attr(data-placeholder);
	color: #888a85;
}
.btn.active {
    background-color: #666;
    color: white;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
