<div id="sidenavId" flex=100 style="padding-left: 150;">

  <div style="margin-left : 400px;margin-top:20px;">
    <md-card style="width:600px;" ng-show="!showWhenClicked">
      <div layout="row">
        <input type="text" placeholder="Take a note" style="width:400px;" ng-click="showWhenClicked=true" />
      </div>
    </md-card>
  </div>

  <div layout="row">
    <md-card ng-show="showWhenClicked" style="width:500px; margin: 0px 0px 0px 454px;">
      <div layout="row">
        <div contenteditable  aria-multiline="true" class="intial-text" convert-new-lines="true" data-placeholder="Title" ng-model="title" style="width:400px;margin-top: 10px;"></div>
        <md-button class="md-icon-button">
        <md-icon><img src="images/pin0.svg" style="padding-left: 32px;padding-top:9px; ">
          <md-tooltip>pin</md-tooltip>
        </md-icon>
      </md-button>
      </div>

      <div contenteditable class="intial-text" data-placeholder="Take a note..." convert-new-lines="true" ng-model="description" style="width:400px;margin-top: 10px;"></div>
      <icon> </icon>
      <md-button ng-click="showWhenClicked=false;noteModel()" style="color: black;border-radius: 15px;margin: -38px 497px 5px 490px;margin-left: 415px">CLOSE</md-button>
    </md-card>
  </div>


    <div style="height:150px;" layout-align="center center" >
    <md-subheader style="margin-left: 270px;"><strong>Pinned</strong> </md-subheader>
    <div layout="row" layout-wrap layout-fill data-ng-init="getAllNote()" style="margin-top: 20px;">
      <md-card  flex="30" ng-mouseover="hoverIn($event)" ng-mouseleave="hoverOut($event)" style="width: 250px;background-color:{{note.color}};"  ng-repeat="note in notes |filter:{trash:false,pin:true,archive:false} |orderBy: '-notes':true |filter: searchText" >
                  <md-card-title ng-click="showAdvanced($event,note)">
                      <md-card-title-text>
                          <div class="md-headline">{{note.title}} </div>
                      </md-card-title-text>
                        </md-card-title>
                        <md-button class="md-icon-button" ng-click="updatePin(note)" style="margin-left: 285px;margin-top: -50px;">
                          <img ng-if="note.pin === true" src="images/bluepin.svg">
                          <img ng-if="note.pin === false" src="images/pin0.svg">
                        </md-button>
                        <md-tooltip>Pin Note</md-tooltip>

                  <md-card-content class="center" ng-click="showAdvanced($event,note)">
                      <p>{{note.description}}</p>
                  </md-card-content>
                  <div  layout="row" style="height: 50px;" layout-align="space-around center">
                      <icon></icon>
                  </div>
              </md-card>
    </div>
</div>

<div  layout-align="center center" style="margin-top:200px;" >
  <md-subheader style="margin-left: 270px;"><strong>Others</strong> </md-subheader>
  <div layout="row" layout-wrap layout-fill data-ng-init="getAllNote()"  layout-align="center center">
    <md-card flex="30"  ng-mouseover="hoverIn($event)" ng-mouseleave="hoverOut($event)" style="width: 250px;background-color:{{note.color}};"  ng-repeat="note in notes |filter:{trash:false,pin:false,archive:false} |orderBy: '-notes':true |filter: searchText">
                <md-card-title ng-click="showAdvanced($event,note)">
                    <div class="intial-text after-click" contenteditable>{{note.title}}</div>
                   </md-card-title>
           <div>
             <md-button class="md-icon-button" ng-click="updatePin(note)" style="margin-left: 269px;
    margin-top: -44px;">
               <img ng-if="note.pin === true"  src="images/bluepin.svg">
                 <img ng-if="note.pin=== false"  src="images/pin0.svg">
             </md-button>
             <md-tooltip>Pin Note</md-tooltip>
           </div>
         <div contenteditable  style=" font-family: Arial, Helvetica, sans-serif; word-wrap:break-word;font-weight: bold;font-size: 30px;">
           <strong ng-bind-html="note.description"> </strong></div>
                <md-card-content class="center" ng-click="showAdvanced($event,note)">
                    <div class="initial-text">{{note.description}}</div>
                </md-card-content>
                <div layout="row" style="height: 50px;" layout-align="space-around center">
                    <icon></icon>
                </div>
            </md-card>
  </div>
</div>
</div>
