<md-card layout-align="center center"   id="forgot" >
  <h1 id="button"><b>Forgot Password Form</b></h1>
  <form name="myform"  layout="column">

    <md-input-container style="margin-top:30px;"  >
      <label>Email</label>
      <input type="text" name="emailId" ng-model="emailId" ng-pattern="/^.+@.+\..+$/" required/>
      <span class="errors" ng-show="(myform.$submitted || myform.emailId.$touched) && myform.emailId.$error.required && !focused">
      You must enter valid email address.for eg abc@gmail.com</span>
      <div >
        <md-button ng-click="forgotModel()" class="md-raised" id="button" style="margin:auto;display:block">submit</md-button>
      </div>
    </md-input-container>
  </form>
</md-card>
