<div layout="row" ng-mouseover="open = true" ng-mouseleave="open = false" >
  <md-button class="md-icon-button" >
    <md-icon><img src="images/reminders.svg" /></md-icon>
    <md-tooltip>remind me</md-tooltip>
  </md-button>

  <md-button class="md-icon-button" >
    <md-icon><img src="images/baseline-person_add-24px.svg" /></md-icon>
    <md-tooltip>Collabarator</md-tooltip>
  </md-button>

  <md-menu>
 <md-button  class="md-icon-button" style="margin: 0 auto;padding: 0px" ng-mouseenter="$mdMenu.open()" >
   <md-icon><img src="images/baseline-color_lens-24px.svg"/></md-icon><md-tooltip>Change color</md-tooltip>
 </md-button>
 <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
   <md-menu-item ng-repeat="x in customerData">
     <div class="colorBox" ng-repeat="t1 in x" ng-style="{'background-color':t1.name};" ng-click="updateColor(note,t1.name)"></div>
     </md-button>
   </md-menu-item>
 </md-menu-content>
 </md-menu>

<md-button class="md-icon-button" >
  <md-icon><i class="material-icons" >photo</i></md-icon>
  <md-tooltip>Add image</md-tooltip>
</md-button>

  <md-button class="md-icon-button"  ng-click="isArchive(note);">
    <md-icon > <img src="images/archive.svg" /></p></md-icon>
    <md-tooltip>Archive</md-tooltip>
  </md-button>

    <md-menu md-position-mode="target-right target"  >
      <md-button class="md-icon-button" style="margin: 0 auto;padding: 0px" ng-click="$mdMenu.open($event)" >
        <md-icon><i class="material-icons">more_vert</i></md-icon>
        <md-tooltip>More</md-tooltip>
      </md-button>
      <md-menu>
        <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()" >
          <md-icon><img src="images/baseline-more_vert-24px.svg" /></md-icon>
        </md-button>
        <md-menu-content width="2" ng-mouseleave="$mdMenu.close()" >
          <md-menu-item>
            <md-button ng-click="isTrash(note)">Delete note
          </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
  </div>

<!--
<md-button class="md-icon-button" ng-click="isArchive(note)" >
                <md-icon><i class="material-icons noteicon1">unarchive</i></md-icon>
                <md-tooltip>Unarchive</md-tooltip>
              </md-button> -->
